.list {
    list-style: none;
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 37px;
}